<form class="row row-cols-sm-auto">
  <div class="col-12">
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input
          #datepicker="ngbDatepicker"
          (dateSelect)="onDateSelection($event)"
          [autoClose]="'outside'"
          [dayTemplate]="t"
          [displayMonths]="2"
          [startDate]="fromDate!"
          class="form-control"
          data-test="datepicker"
          name="datepicker"
          ngbDatepicker
          outsideDays="hidden"
          tabindex="-1"
        />
        <ng-template #t let-date let-focused="focused">
          <span
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
            [class.faded]="isHovered(date) || isInside(date)"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            class="custom-day"
          >
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="input-group">
      <input
        #dpFromDate
        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
        [value]="formatter.format(fromDate)"
        class="form-control"
        data-test="from-date"
        name="dpFromDate"
        placeholder="yyyy-mm-dd"
      />
      <button
        (click)="datepicker.toggle()"
        class="btn btn-outline-secondary bi bi-calendar3"
        type="button"
      ></button>
    </div>
  </div>
  <div class="col-12">
    <div class="input-group">
      <input
        #dpToDate
        (input)="toDate = validateInput(toDate, dpToDate.value)"
        [value]="formatter.format(toDate)"
        class="form-control"
        data-test="to-date"
        name="dpToDate"
        placeholder="yyyy-mm-dd"
      />
      <button
        (click)="datepicker.toggle()"
        class="btn btn-outline-secondary bi bi-calendar3"
        type="button"
      ></button>
    </div>
  </div>
</form>
